#title-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bkgColor);
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 1.5px 8px rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Chewy', system-ui;
  color: #c1c1c1;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding: 10px 30px;
  opacity: 0.95;
  user-select: none;
}
