* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bkgColor: #171717;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bkgColor);
  overflow: hidden;
}

.board-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.separator {
  width: 6px;
  height: 100%;
  background-color: var(--bkgColor);
}

.board {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
