.board {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-name {
  font-family: 'Orbitron', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1.5px;
  font-size: 2.5rem;
}
