.board {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-name {
  font-family: 'Chewy', system-ui;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1.5px;
  font-size: 3.5em;
  user-select: none;
}

.board-score {
  font-family: 'Finger Paint', sans-serif;
  font-weight: 400;
  font-size: 22rem;
  margin: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 2px 8px rgba(0, 0, 0, 0.2);
  user-select: none;
  color: rgba(0, 0, 0, 0.5);
}
